@media (max-width: 768px) {
  .game-container {
    width: 80%;
  }

  .nav-items {
    display: none;
  }

  .nav-toggler {
    display: block;
  }

  .main-container {
    margin-top: 0;
  }

  .main-container .main-content .image-container .raccoon-image {
    max-width: 350px;
    width: 100%;
  }

  .raccoon-image {
    width: 300px !important;
    height: 300px !important;
  }

  .main-container .main-content .description {
    font-size: 1rem;
  }

  .background-video {
    object-position: -440px 25px;
  }

  .description-background {
    font-size: 0.8rem;
  }

  #contract-number {
    font-size: 1rem;
  }

  .danger-object {
    scale: 0.4 !important;
  }

  .score {
    scale: 0.5;
    left: -35px;
    top: -25px;
  }

  #score-number {
    font-size: 4rem;
  }

  .falling-object {
    scale: 0.6;
  }

  .background-video {
    object-position: -350px 0px;
  }
}

@media (max-width: 576px) {
  #contract-number {
    font-size: 1rem;
  }

  .contract-details {
    padding: 20px 20px;
  }

}
