.main-container {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  margin: 60px 0 20px 0;
}

.main-container .main-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.main-content {
  margin-top: 20px;
}

.main-container .main-header .main-content .main-description {
  text-align: center;
}

.main-container .main-content .image-container {
  margin: 0 auto;
}

.main-container .main-content .image-container .raccoon-image {
  width: 500px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
}

.main-container .main-content .description {
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.main-container .main-content .main-description {
  display: flex;
  justify-content: center;
}

.main-container .main-content .buy-button {
  background-color: #6a0dad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-container .main-content .buy-button:hover {
  background-color: #520b75;
}

.description {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger !important;
}

.description-background {
  background-color: rgba(0.2, 0.2, 0.2, 0.7);
  color: #ffffff;
  padding: 40px;
  border-radius: 40px;
  margin: 40px 0;
  width: 100%;
  border: 2px solid #fff;
  min-width: 350px;
  max-width: 1300px;
}
